<% if !user_signed_in? %>
  <div class="row">
    <div class="col-md-11">
    <div class="jumbotron" style="margin-left:10%">
      <h1>Las mejores peliculas para rentar, solo en Netflux</h1>
      <p>Netflux es una plataforma web donde podras rentar los mejores estrenos de peliculas desde el alcance de 
      un clic por 5 dias! Que esperas y registrate para empezar a rentar con Netflux.</p>
      <p><%= link_to "Ingresa para empezar a rentar", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
    </div>
    </div>
  </div>
<% end %>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="<%= movie.image =%>" class="img-thumbnail" alt="Portada" width="200" height="400">
        <div class="caption text-center">
          <h3><%= movie.title =%></h3>
          <%= link_to "Ver mas...", movie %>
        </div>
      </div>
    </div>
  <% end %>
</div>