<h2 class="text-center" style="color:white;">Historial de rentas</h2>
<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Pelicula</th>
              <th>Inicio de la renta</th>
              <th>Termino de la renta</th>
            </tr>
          </thead>
          <tbody>
            <% @rents.each do |rent| %>
              <% if rent.user_id == current_user.id %>
                <% @movie = Movie.find(rent.movie_id) %>
                <tr>
                  <td><%= @movie.title %></td>
                  <td><%= rent.start.to_date %></td>
                  <td><%= rent.end %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>